@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Poppins:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(#833ab4,#fd1d1d,#fcb045);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5vh 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1vh;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background: black;
   
}

.text {
    display: flex;
    color: yellow;
    margin-left: 50px;
    margin-top: 200px;
}

.sec {
    position: relative;
    padding: 100px;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec h2:hover{
    color: yellow;
}
.sec h3 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec h3:hover {
    color: yellow;
}

.sec p {
    font-size: 1.2em;
    color: #fff;
}
.connectbutton{
        background-color: #fcb045; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      
}
.connectlink{
    text-decoration: none;
}
.image{
    width: 30%;
    height: 30vh;
    margin-right: 10vh;
    display: flex;
    justify-content: right;
    align-items: right;
}
.image img{
    height: 300px;
    width: 300px;
    border-radius: 1030px;
    border: 10px solid #fff;
}
.container{
    width: 100%;
    height: auto;
    display : flex;
    flex-direction : row ;
    justify-content : space-around;
    flex-flow : wrap;
}
.box{
    width: 30%;
    height: 50vh;
    margin: 3vh;
    margin-bottom: 300px;
    box-sizing: border-box;
    font-size: 50px;
}
.box p{
    font-size: 20px;
}
.footer{
    position: relative;
    padding: 100px;
}
.footer h3 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.footer h3:hover {
    color: yellow;
}
.footer p {
    font-size: 1.2em;
    color: #fff;
}
.connectbutton{
    background-color: white; /* Green */
  border: none;
  color: white;
  padding: 2vh 2vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.showcase img{
    height: 50vh;
    width:  50vh;
   margin: 7em;
}
@media (max-width: 768px) {
    /* Styles for screens up to 768px wide */
}

@media (max-width: 480px) {
    /* Styles for screens up to 480px wide */
}
